<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Is it sinhala and tamil new year?</title>
        <style>
            body {
                font-family: sans-serif;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
            }
            
            h1 {
                font-size: 8em;
                color: rgb(60, 255, 0);
                margin: 0;
            }

            h1:hover {
                color: red;
            }
        </style>
    </head>
    <body>
        <h1 onmouseover="this.style.color='red'" onmouseout="this.style.color='rgb(60, 255, 0)'">NO</h1>
    </body>
</html>
